.drag-list {
  position: relative;

  .drag-list-item {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 0 5px rgba($color: gray, $alpha: 0.5);

    .item-content {
      padding: 10px;
    }

    .drag-handle {
      width: 50px;
      background-color: skyblue;
      cursor: move;
    }
  }

  .move-down {
    transition: all .5s ease;
    transform: translateY(58px)
  }

  .move-up {
    transition: all .5s ease;
    transform: translateY(-58px)
  }
}