.drag-list {
  position: relative;
  overflow: hidden;

  .drag-list-item {
    display: flex;
    justify-content: space-between;
    position: relative;

    &:hover {
      transition: transform .3s ease;
      transform: scale(1.05);
    }

    .item-content {
      padding: 10px;
    }

    .drag-handle {
      width: 50px;
      background-color: skyblue;
      cursor: move;
    }
  }

  .animate {
    transition: all .5s ease;
  }

  .move-down {
    transform: translateY(58px)
  }

  .move-up {
    transform: translateY(-58px)
  }
}